<header class="flex justify-between items-center py-4 w-[1120px] mx-auto">
<img 
class="rounded-full w-12 h-12"
src="../public/santiago-foto.png" 
alt="Foto Santiago"/>
<nav class="flex flex-row gap-x-10 opacity-78">
    <a href="/">Home</a>
    <a href="/sobremi">Sobre mí</a>
    <a href="/projectos">Projectos</a>
    <a href="/contacto">Contacto</a>
</nav>
</header>